# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
.api_flask/
ENV/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# OS
.DS_Store
Thumbs.db
